{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-g">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'darkmode.js' %}" defer></script>
    <title>{% if form.instance.pk %}Edit Album{% else %}Create Album{% endif %}</title>
</head>

<body>
    <header>
        <h1 class="pageName">{% if form.instance.pk %}Edit Album{% else %}Create Album{% endif %}</h1>
    </header>

    <button id="darkModeToggle" class="dark-mode-toggle" aria-label="toggle dark mode">
        <img src="{% static 'icons/darkmode.svg' %}" alt="Dark Mode Icon">
    </button>

    <div class="container">
        <form class="albumEdit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="formText">
                <label for="{{ form.title.id }}" class="formTitle">Title</label>
                {{ form.title }}
            </p>
            <p class="formText">
                <label for="{{ form.artist.id }}" class="formArtist">Artist</label>
                {{ form.artist }}
            </p>
            <p class="formText">
                <label for="{{ form.released.id }}" class="formArtist">Released</label>
                {{ form.released }}
            </p>
            <p class="formText">
                <label for="{{ form.bio.id }}" class="formArtist">Bio</label>
                {{ form.bio }}
            </p>
            <div class="imgInputContainer">
                <label for="{{ form.album_art.id }}" class="imgLabel">Upload Album Art</label>
            </div>
            <div class="imgInputContainer">
                <div class="file-input-wrapper">
                    <input type="file" name="{{ form.album_art.name }}" id="{{ form.album_art.id }}" class="imgUpload">
                </div>
            </div>
            <button class="saveButton" type="submit">SAVE</button>
        </form>
    </div>
    <div class="footerOptions">
        <a class="footerOption" href="{% url 'album_list' %}">Back to Album List</a>
        <a class="footerOption" href="{% url 'homepage' %}">Back to Home</a>
    </div>
</body>

</html>