{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="#">
    <script src="{% static 'darkmode.js' %}" defer></script>
    <script src="{% static 'otheralbums.js' %}" defer></script>
    <script src="{% static 'favorites.js' %}" defer></script>
    <script src="{% static 'fontsize.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'stopdefault.js' %}" defer></script>
    <title>Album Detail</title>
</head>

<body>
    <header>
        <h1 class="pageName">Album Detail</h1>
    </header>

    <button id="darkModeToggle" class="dark-mode-toggle" aria-label="toggle dark mode">
        <img src="{% static 'icons/darkmode.svg' %}" alt="Dark Mode Icon">
    </button>

    <!-- Previous Album -->
    <a class="prevAlbum" href="{% if prev_album %}{% url 'album_detail' prev_album.pk %}{% endif %}">
        <h1 class="LtGtImage{% if not has_prev_album %}Disabled{% endif %}">&lt;</h1>
    </a>

    <div class="detailContainer">
        <div class="intermediateContainer">
            <button class="detail-favorite-toggle" data-album-id="{{ album.id }}">
                {% if album in request.user.favorites.all %}
                <!-- Add a class if the album is in the user's favorites -->
                <img src="{% static 'icons/filled-heart.svg' %}" alt="Favorite">
                {% else %}
                <img src="{% static 'icons/empty-heart.svg' %}" alt="Not Favorite">
                {% endif %}
            </button>
            <div class="currentAlbumContainer">
                <div class="detailArtBox">
                    <img src="{{ album.album_art.url }}" alt="{{ album.title }} Album Art" class="detailArtImage">
                </div>
                <div class="albumDetail">
                    <h2 class="albumDetailTitle">{{ album.title }}</h2>
                    <p class="albumDetailArtist">{{ album.artist }}</p>
                    <p class="albumReleased">{{ album.released }}</p>
                    <p class="albumBio">{{ album.bio }}</p>
                    <p class="albumCreated">Created At: {{ album.created_date }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Next Album -->
    <a class="nextAlbum" href="{% if next_album %}{% url 'album_detail' next_album.pk %}{% endif %}">
        <h1 class="LtGtImage{% if not has_next_album %}Disabled{% endif %}">&gt;</h1>
    </a>

    <div class="otherAlbumContainer">
        <div class="otherContainerColumn">
            <div class="otherTitleBox">
                <p class="otherTitle">Other albums by:</p>
                <p class="otherTitle2">{{ album.artist }}</p>
            </div>
            <div class="otherContainer">
                {% for other_album in other_albums %}
                <a href="{% url 'album_detail' other_album.pk %}" class="otherAlbums">
                    <button class="other-favorite-toggle" data-album-id="{{ other_album.id }}">
                        {% if album in request.user.favorites.all %}
                        <!-- Add a class if the album is in the user's favorites -->
                        <img src="{% static 'icons/filled-heart.svg' %}" alt="Favorite">
                        {% else %}
                        <img src="{% static 'icons/empty-heart.svg' %}" alt="Not Favorite">
                        {% endif %}
                    </button>
                    <div class="otherArtBox">
                        <img src="{{ other_album.album_art.url }}" alt="{{ other_album.title }} Album Art"
                            class="otherAlbumArt">
                    </div>
                    <div class="otherAlbumText">{{ other_album.title }}</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="footerOptions">
        <a class="footerOption" href="{% url 'edit_album' album.pk %}">Edit Album</a>
        <a class="footerOption" href="{% url 'delete_album' album.pk %}">Delete Album</a>
        <a class="footerOption" href="{% url 'album_list' %}">Back To Album List</a>
        <a class="footerOption" href="{% url 'homepage' %}">Back to Home</a>
    </div>
</body>

</html>