{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'darkmode.js' %}" defer></script>
    <title>Delete Album</title>
</head>

<body>
    <header>
        <h1 class="pageName">Delete Album</h1>
    </header>

    <button id="darkModeToggle" class="dark-mode-toggle" aria-label="toggle dark mode">
        <img src="{% static 'icons/darkmode.svg' %}" alt="Dark Mode Icon">
    </button>

    <div class="container">
        <div class="albumEdit">
            <p class="deleteText">Delete this album?</p>
            <p class="deleteText2">"{{ album.title }}" by "{{ album.artist}}"</p>
            <form class="deleteConfirm" method="post">
                {% csrf_token %}
                <button class="confirmButton" type="submit">Confirm</button>
            </form>
        </div>
    </div>
    <div class="footerOptions">
        <a class="footerOption" href="{% url 'album_detail' album.pk %}">Cancel</a>
    </div>
</body>

</html>