{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="#">
    <script src="{% static 'darkmode.js' %}" defer></script>
    <script src="{% static 'otheralbums.js' %}" defer></script>
    <script src="{% static 'favorites.js' %}" defer></script>
    <title>Album Detail</title>
</head>

<body>
    <header>
        <h1 class="pageName">Album Detail</h1>
    </header>

    <button id="darkModeToggle" class="dark-mode-toggle" aria-label="toggle dark mode">
        <img src="{% static 'icons/darkmode.svg' %}" alt="Dark Mode Icon">
    </button>

    <div class="container">
        <div class="albumDetail">
            <h2 class="albumTitle">{{ album.title }}</h2>
            <p class="albumArtist">Artist: {{ album.artist }}</p>
            <p class="albumCreated">Created At: {{ album.created_date }}</p>
        </div>
    </div>

    <div class="otherAlbumContainer">
        <div class="otherContainerColumn">
            <div class="otherTitleBox">
                <p class="otherTitle">Other albums by:</p>
                <p class="otherTitle2">{{ album.artist }}</p>
            </div>
            <div class="otherContainer">
                {% for other_album in other_albums %}
                <a href="{% url 'album_detail' other_album.pk %}" class="otherAlbums">
                    <div class="otherAlbumText">{{ other_album.title }}</div>
                </a>
                <div class="albumActions">
                    <button id="favoriteButton" data-album-id="{{ album.id }}" class="favorite-toggle">
                        <img src="{% if album in request.user.favorites.all %}{% static 'icons/filled-heart.svg' %}{% else %}{% static 'icons/empty-heart.svg' %}{% endif %}"
                            alt="favorite-toggle img">
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="footerOptions">
        <a class="footerOption" href="{% url 'edit_album' album.pk %}">Edit Album</a>
        <a class="footerOption" href="{% url 'delete_album' album.pk %}">Delete Album</a>
        <a class="footerOption" href="{% url 'album_list' %}">Back To Album List</a>
        <a class="footerOption" href="{% url 'homepage' %}">Back to Home</a>
    </div>
</body>

</html>