{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="#">
    <script src="{% static 'darkmode.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'stopdefault.js' %}" defer></script>
    <title>Album List</title>
</head>

<body>
    <header>
        <h1 class="pageName">Favorites</h1>
    </header>

    <button id="darkModeToggle" class="dark-mode-toggle" aria-label="toggle dark mode">
        <img src="{% static 'icons/darkmode.svg' %}" alt="Dark Mode Icon">
    </button>

    <div class="container">
        <div class="container80">
            {% if favorite_albums %}
            {% for album in favorite_albums %}
            <a href="{% url 'album_detail' album.pk %}" class="albumBox">

                <button class="favorite-toggle" data-album-id="{{ album.id }}">
                    {% if album in user.favorites.all %}
                    <img src="{% static 'icons/filled-heart.svg' %}" alt="Favorite">
                    {% else %}
                    <img src="{% static 'icons/empty-heart.svg' %}" alt="Not Favorite">
                    {% endif %}
                </button>

                <div class="albumArtBox">
                    <img src="{{ album.album_art.url }}" alt="{{ album.title }} Album Art" class="albumArtImage">
                </div>
                <div class="detailBox">
                    <h2 class="albumTitle">{{ album.title }}</h2>
                    <p class="albumArtist">{{ album.artist }}</p>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <p class="noFavoritesText">No Favorites</p>
            {% endif %}
        </div>
    </div>

    <div class="footerContainer">
        <div class="footerOptions">
            <a class="footerOption" href="{% url 'homepage' %}">
                <div class="footerText">Home</div>
            </a>
            <a class="footerOption" href="{% url 'create_album' %}">
                <div class="footerText">Create New Album</div>
            </a>
            <a class="footerOption" href="{% url 'album_list' %}">
                <div class="footerText">Album List</div>
            </a>
        </div>
        <script>
            var toggleFavoriteUrl = "{% url 'toggle_favorite' 0 %}";
        </script>
</body>

</html>