@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

:root {
    --clr-light: #f6f6f6;
    --clr-dark: #333333;
    --clr-primary: #ccc;
    --clr-secondary: #7d7d7d;
    --clr-accent: #009FFD;
    --clr-accent-dark: #0A1045;
    --clr-test: #FF0000;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

.darkMode {
    --clr-light: #606470;
    --clr-dark: #353941;
    --clr-primary: #90959a;
    --clr-secondary: #26282b;
    --clr-accent: #3b50d2;
    --clr-accent-dark: #040825;
    --clr-test: #813131;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--clr-light);
}

.darkMode body {
    background-color: var(--clr-primary);
}

header {
    padding: 30px;
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    font-size: 30;
    border-bottom: 1px solid var(--clr-light);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.darkMode .header {
    background-color: var(--clr-primary);
    border-bottom: 1px solid var(--clr-light);
    color: var(--clr-dark);
}

.pageName {
    font-family: "Arial", sans-serif;
    color: var(--clr-dark);
    font-size: 200;
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    left: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: default;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.containerColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.homeOption {
    box-shadow: 1px 1px 3px #00000020, -1px -1px 3px var(--clr-light);
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 2%;
    margin: 8px;
    text-decoration: none;
    width: 25%;
}

.homeOption:hover {
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.3));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.homeOption:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
        inset -2px -2px 4px var(--clr-light);
    background-color: #f9f9f9;
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.homeOptionText {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: var(--clr-dark);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albumBox {
    box-shadow: 1px 1px 3px #00000020, -1px -1px 3px var(--clr-light);
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 2%;
    margin: 8px;
    text-decoration: none;
}

.albumBox {
    width: 15%;
}

@media (max-width: 1400px) {
    .albumBox {
        width: 20%;
    }
}

@media (max-width: 900px) {
    .albumBox {
        width: 30%;
    }
}

@media (max-width: 576px) {
    .albumBox {
        width: 60%;
    }
}

.albumBox:hover {
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.3));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.albumBox:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
        inset -2px -2px 4px var(--clr-light);
    background-color: #f9f9f9;
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.albumTitle {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albumArtist {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorite-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background: transparent;
    border: none;
    cursor: pointer;
}

.favorite-toggle img {
    width: 24px;
    height: 24px;
}

.albumCreated {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albumDetail {
    box-shadow: 1px 1px 3px #00000020, -1px -1px 3px var(--clr-light);
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 2%;
    margin: 8px;
    width: 40%;
}

.otherContainerColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    border-top: 1px solid var(--clr-primary);
    padding-top: 10px;
}

.otherContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* .otherTitleBox {
    box-shadow: 1px 1px 3px #00000020, -1px -1px 3px var(--clr-light);
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border-radius: 5%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
} */

.otherTitle {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--clr-dark);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.otherTitle2 {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: var(--clr-dark);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.otherAlbums {
    box-shadow: 1px 1px 3px #00000020, -1px -1px 3px var(--clr-light);
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 2%;
    margin: 8px;
    text-decoration: none;
}

.otherAlbums {
    width: 16%;
}

@media (max-width: 1200px) {
    .otherAlbums {
        width: 20%;
    }
}

@media (max-width: 1400px) {
    .otherAlbums {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .otherAlbums {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .otherAlbums {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .albotherAlbumsumBox {
        width: 60%;
    }
}

.otherAlbums:hover {
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.3));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.otherAlbums:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
        inset -2px -2px 4px var(--clr-light);
    background-color: #f9f9f9;
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.otherAlbumText {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    /* font-weight: bold; */
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albumEdit {
    box-shadow: 1px 1px 3px #00000020, -1px -1px 3px var(--clr-light);
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    padding: 2%;
    margin: 8px;
    width: 30%;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: var(--clr-dark);
}

.formText {
    padding: 100;
}

.saveButton {
    cursor: pointer;
    margin-top: 10px;
}

.deleteText {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--clr-dark);
    width: 99%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteText2 {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: var(--clr-dark);
    width: 99%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}

.deleteConfirm {
    padding-top: 10px;
}

.confirmButton {
    cursor: pointer;
}

.footerOptions {
    border-top: 1px solid var(--clr-primary);
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.footerOption {
    text-decoration: none;
    padding: 5px;
}