:root {
    --clr-light: #f6f6f6;
    --clr-dark: #0A1045;
    --clr-primary: #ccc;
    --clr-secondary: #7d7d7d;
    --clr-accent: #009FFD;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

body {
    background-color: var(--clr-light);
}

h1 {
    color: var(--clr-dark);
}